.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.word_input {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}

.word_input:disabled {
  color: black;
}

.additional_input {
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  width: 100%;
  font-style: italic;
}

.additional_input:disabled {
  color: black;
}

.edit_icons_container {
  width: 50px;
  display: flex;
  justify-content: space-between;
}


.save_icons_container {
  width: 50px;
  display: flex;
  justify-content: space-between;
}
