.input_container {
  display: flex;
  justify-content: space-between;
}

.word_input {
  border: none;
  outline: none;
  font-weight: bold;
  border-bottom: 2px solid black;
  font-size: 20px;
}

.word_input:disabled {
  color: black;
  border-bottom: 2px solid transparent;
}

.additional_input {
  border: none;
  outline: none;
  border-bottom: 2px solid var(--medium_grey);
  color: var(--medium_grey);
  font-size: 20px;
  width: 70%;
  font-style: italic;
}

.additional_input:disabled {
  color: var(--medium_grey);
  border-bottom: 2px solid transparent;
}

.edit_icons_container {
  width: 50px;
  display: flex;
  justify-content: space-between;
}


.save_icons_container {
  width: 50px;
  display: flex;
  justify-content: space-between;
}
