:root {
  --header_height: 80px;

  --light_red: #ff5252;
  --black: black;
  --medium_grey: #555555;
  --lightest_red: #ffcbd1;
  --lightest_blue: #87ceeb;
  --lavander: #D3D3FF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
